/* ----------------------------------------------------------------------- */
/* simple transparent theme template by deer
/* this is meant to be a good starting point to use for your own themes.
/* ----------------------------------------------------------------------- */

:root {
	/* Background Image */
	--ThemeBackgroundImage: var(--bg-1);
	/* fallback color behind the background image. can be used to give your bg image a tint */
	--ThemeBackgroundColor: #02172c;
	/* Image position | center, left, right, bottom, top */
	--ThemeBackgroundPosition: top;
	/* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
	--ThemeBackgroundSize: cover;
	/* if you want the image to repeat */
	--ThemeBackgroundRepeat: no-repeat;
	/* Set to 0 to remove blur */
	--ThemeBackgroundBlur: 10px;
	/* BG image opacity. 0 is fully transparent, 1 is fully opaque */
	--ThemeBackgroundOpacity: 0.3;

	/* ----------------------------------------------------------------------- */
	/* background presets - credits to ThaSilentArtist. 
	/* this is where you should add your own images. 
	/* NOTE: images have to be uploaded to fluxer first before you can use them.
	/* ----------------------------------------------------------------------- */
	--bg-1: url("https://fluxerusercontent.com/attachments/1474610319297830991/1481279988511911959/41511cd77e70.png");
	--bg-2: url(""); /* (add your own here) */
	--bg-3: url("");
}

/* dark-theme specific tweaks. this one can generally be ignored, but ive decided to add it as an example.
/* you can find these theme-specific colors through dev tools in the fluxer client here:
/* sources -> fluxer_app/src/styles/generated/color-system.css */
.theme-dark {
	/* these are fluxer's built in background colors, adjusted to add slight transparency */
	--background-opacity: 0.9;
	
	--background-primary: hsla(220, calc(13% * var(--saturation-factor)), 5%, var(--background-opacity));
	--background-secondary: hsla(220, calc(13% * var(--saturation-factor)), 11.18%, var(--background-opacity));
	--background-secondary-lighter: hsla(220, calc(13% * var(--saturation-factor)), 13.22%, var(--background-opacity));
	--background-secondary-alt: hsla(220, calc(13% * var(--saturation-factor)), 15.11%, var(--background-opacity));
	--background-tertiary: hsla(220, calc(13% * var(--saturation-factor)), 18.44%, var(--background-opacity));
}

/* light-theme specific tweaks */
.theme-light {
	--ThemeBackgroundColor: #c0defc;

}
/* coal-theme specific tweaks go here */
.theme-coal {
	--ThemeBackgroundColor: #000;
}

/* ---------------------------------------------------------------- */
/* basic setup
/* ---------------------------------------------------------------- */

html {
	background: var(--ThemeBackgroundColor);
}

/* prevent background turning black in mobile view */
body {
	background: transparent!important;
}

/* this contains the background image */
body::before {
	content: "";
	position: fixed;
	inset: 0;
	background: var(--ThemeBackgroundImage);
	background-size: var(--ThemeBackgroundSize);
	background-position: var(--ThemeBackgroundPosition);
	background-repeat: var(--ThemeBackgroundRepeat);
	filter: blur(var(--ThemeBackgroundBlur));
	opacity: var(--ThemeBackgroundOpacity);
	z-index: -1;
}


/* ---------------------------------------------------------------- */
/* Add Transparency
/* this is safer than overwriting the color variables directly
/* ---------------------------------------------------------------- */
html:not(.auth-page) [class*="App.module__appContainer_"],
[class*="GuildsLayout.module__guildsLayoutContainer_"],
[class*="GuildsLayout.module__guildListScrollContainer_"],
[class*="GuildsLayout.module__contentContainer_"],
[class*="UserArea.module__userAreaInnerWrapper_"],
[class*="OutlineFrame.module__frame_"],
[class*="GuildsLayout.module__contentInner_"],
[class*="GuildLayout.module__guildLayoutContainer_"],
[class*="ChannelListContent.module__channelListScroller_"],
[class*="GuildLayout.module__guildMainContent_"],
[class*="ChannelLayout.module__channelLayoutContainer_"],
[class*="ChannelIndexPage.module__channelGrid_"],
[class*="ChannelHeader.module__headerContainer_"],
[class*="ChannelChatLayout.module__container_"],
[class*="InputWrapper.module__box_"],
[class*="GuildHeader.module__headerContainer_"],
[class*="DMLayout.module__dmLayoutContainer_"],
[class*="DMList.module__dmListContainer_"],
[class*="DMList.module__dmListHeader_"],
[class*="DMList.module__desktopScroller_"],
[class*="DMList.module__dmChannelList_"],
[class*="DMLayout.module__contentColumn_"],
[class*="DMLayout.module__contentInner_"],
[class*="DMFriendsView.module__container_"],
[class*="UserProfileModal.module__modalContainer_"],
[class*="Divider.module__text_"],
[class*="Divider.module__dateWithUnreadText_"],
[class*="SplashScreen.module__splashOverlay_"],
[class*="MobileTextareaLayout.module__mobilePlusButton_"],
[class*="MobileTextareaLayout.module__mobileInputContainer_"],
[class*="MobileTextareaLayout.module__mobileVoiceButton_"],
[class*="ChannelHeader.module__iconButtonMobile_"],
[class*="NotificationsPage.module__container_"],
[class*="SelectBottomSheet.module__trigger_"],
[class*="NotificationsPage.module__bookmarkButton_"],
[class*="YouPage.module__profile_"],
[class*="YouPage.module__noteIconWrapper_"],
[class*="DMList.module__mobileContainer_"],
[class*="DMList.module__mobileScroller_"],
[class*="DMList.module__mobileHeaderButton_"],
[class*="DMList.module__mobileAddFriendButton_"],
[class*="MemberListContainer.module__memberListScroller_"],
[class*="ChannelSearchResults.module__container_"],
[class*="GuildNavbarSkeleton.module__skeletonHeader_"]
{
	background: transparent;
}


/* ---------------------------------------------------------------- */
/* Add Transparency Part 2 - This list contains panels where you might
/* want to bring back a background color. you have to pick and choose.
/* ---------------------------------------------------------------- */

/* loading splashscreen */
[class*='SplashScreen.module__splashContent_'],
/* server sidebar */
[class*="GuildsLayout.module__guildListScroller"],
/* dm list */
[class*="DMLayout.module__dmListColumn_"],
/* server channel list */
[class*="GuildNavbar.module__guildNavbarContainer_"],
/* self status */
[class*="GuildsLayout.module__userAreaWrapper_"],
/* channel header */
[class*="ChannelHeader.module__headerWrapper_"],
/* channel member list */
[class*="MemberListContainer.module__memberListContainer_"],
/* channel message container */
[class*="ChannelChatLayout.module__messagesArea_"],
/* chat input area */
[class*='ChannelChatLayout.module__textareaArea_'],
/* friendslist */
[class*='DMFriendsView.module__content_'],
/* friendslist active now panel */
[class*="ActiveNowSidebar.module__sidebar_"],
/* search results */
[class*="ChannelIndexPage.module__searchPanel_"],
/* settings panel */
[class*="Modal.module__root_"],
/* VC Server panel */
[class*="VoiceCallView.module__root_"],
/* VC Server panel empty */
[class*="ChannelIndexPage.module__emptyStateContent_"],
/* VC DMs panel */
[class*="DMChannelView.module__callBanner_"],
/* VC DMs panel active */
[class*="DMChannelView.module__compactVoiceCallView_"],
/* server member page */
[class*="GuildMembersPage.module__pageContainer_"],
/* server member page member table */
[class*="GuildMembersPage.module__tableWrapper_"],
/* mobile bottom nav */
[class*="MobileBottomNav.module__container_"],
/* mobile notifications page header */
[class*="NotificationsPage.module__header_"],
/* mobile notifications page content */
[class*="NotificationsPage.module__content_"],
/* mobile own profile page */
[class*="YouPage.module__container_"],
/* server discovery explore page */
[class*="DiscoveryPage.module__container_"],
/* auth page */
[class*="AuthLayout.module__card_"],
/* server unavailable */
[class*="GuildLayout.module__guildUnavailableContainer_"],
/* server unavailable channels skeleton */
[class*="GuildNavbarSkeleton.module__skeletonContainer_"] 
{
	background: transparent;
}